.ui-bookmark {
    --icon-size: 24px;
    --icon-secondary-color: #71717a;
    --icon-hover-color: #52525b;
    --icon-primary-color: #ef4444;
    --icon-circle-border: 1px solid var(--icon-primary-color);
    --icon-circle-size: 35px;
    --icon-anmt-duration: 0.3s;
    display: inline-block;
}

.ui-bookmark input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: none;
    pointer-events: none;
}

.ui-bookmark .bookmark {
    width: var(--icon-size);
    height: var(--icon-size);
    fill: var(--icon-secondary-color);
    cursor: pointer;
    transition: 0.2s;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transform-origin: top;
}

.bookmark::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    box-shadow: 0 30px 0 -4px var(--icon-primary-color),
        30px 0 0 -4px var(--icon-primary-color),
        0 -30px 0 -4px var(--icon-primary-color),
        -30px 0 0 -4px var(--icon-primary-color),
        -22px 22px 0 -4px var(--icon-primary-color),
        -22px -22px 0 -4px var(--icon-primary-color),
        22px -22px 0 -4px var(--icon-primary-color),
        22px 22px 0 -4px var(--icon-primary-color);
    border-radius: 50%;
    transform: scale(0);
    padding: 1px;
}

.bookmark::before {
    content: "";
    position: absolute;
    border-radius: 50%;
    border: var(--icon-circle-border);
    opacity: 0;
}

/* actions */

.ui-bookmark:hover .bookmark {
    fill: var(--icon-hover-color);
}

.ui-bookmark input:checked+.bookmark::after {
    animation: circles var(--icon-anmt-duration) cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
    animation-delay: var(--icon-anmt-duration);
}

.ui-bookmark input:checked+.bookmark {
    fill: var(--icon-primary-color);
    animation: bookmark var(--icon-anmt-duration) forwards;
    transition-delay: 0.3s;
}

.ui-bookmark input:checked+.bookmark::before {
    animation: circle var(--icon-anmt-duration) cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
    animation-delay: var(--icon-anmt-duration);
}

@keyframes bookmark {
    50% {
        transform: scaleY(0.6);
    }

    100% {
        transform: scaleY(1);
    }
}

@keyframes circle {
    from {
        width: 0;
        height: 0;
        opacity: 0;
    }

    90% {
        width: var(--icon-circle-size);
        height: var(--icon-circle-size);
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes circles {
    from {
        transform: scale(0);
    }

    40% {
        opacity: 1;
    }

    to {
        transform: scale(0.8);
        opacity: 0;
    }
}